### Clustering Wrangle Exercises

#### Acquire

Zillow

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

In [195]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline
pd.options.display.float_format = '{:20,.2f}'.format

import env

In [62]:
def get_db_url(database):
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    return url

def get_zillow():
    sql = '''
SELECT properties_2017.*, predictions_2017.logerror, 
predictions_2017.transactiondate, 
airconditioningtype.airconditioningdesc, architecturalstyletype.architecturalstyledesc,
buildingclasstype.buildingclassdesc, heatingorsystemtype.heatingorsystemdesc,
propertylandusetype.propertylandusedesc, storytype.storydesc, 
typeconstructiontype.typeconstructiondesc
FROM properties_2017
LEFT JOIN airconditioningtype USING(airconditioningtypeid)
LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
LEFT JOIN buildingclasstype USING(buildingclasstypeid)
LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
LEFT JOIN propertylandusetype USING(propertylandusetypeid)
LEFT JOIN storytype USING(storytypeid)
LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
INNER JOIN (SELECT parcelid, logerror, MAX(transactiondate) transactiondate 
FROM predictions_2017 GROUP BY parcelid, logerror) predictions_2017 USING(parcelid)
WHERE properties_2017.longitude IS NOT NULL 
AND properties_2017.latitude IS NOT NULL 
AND predictions_2017.transactiondate LIKE '2017%%';
    '''
    url = get_db_url('zillow')
    zillow_df = pd.read_sql(sql, url, index_col = 'id')
    return zillow_df

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

 - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
 - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
 - Only include properties that include a latitude and longitude value.

In [91]:
#df = get_zillow()

In [65]:
#df.to_csv("zillow.csv")

In [129]:
df = pd.read_csv("zillow.csv")

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77574 entries, 0 to 77573
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77574 non-null  int64
 1   parcelid                      77574 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77574 non-null  float64
 6   bedroomcnt                    77574 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49808 non-null  float64
 9   calculatedbathnbr             76959 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77374 non-null  float64
 13  finishedsquarefeet12          73919 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77574 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76959 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49569 non-null  float64
 25  latitude                      77574 non-null  float64
 26  longitude                     77574 non-null  float64
 27  lotsizesquarefeet             69317 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77574 non-null  object
 34  propertylandusetypeid         77574 non-null  float64
 35  propertyzoningdesc            50474 non-null  object
 36  rawcensustractandblock        77574 non-null  float64
 37  regionidcity                  76102 non-null  float64
 38  regionidcounty                77574 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77524 non-null  float64
 41  roomcnt                       77574 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50702 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77305 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77459 non-null  float64
 52  taxvaluedollarcnt             77573 non-null  float64
 53  assessmentyear                77574 non-null  float64
 54  landtaxvaluedollarcnt         77572 non-null  float64
 55  taxamount                     77569 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77327 non-null  float64
 59  logerror                      77574 non-null  float64
 60  transactiondate               77574 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49569 non-null  object
 65  propertylandusedesc           77574 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

In [67]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,"77,574.00","13,006,297.98","3,478,043.16","10,711,855.00","11,538,192.50","12,530,505.00","14,211,242.75","167,689,317.00"
airconditioningtypeid,"25,006.00",1.81,2.97,1.00,1.00,1.00,1.00,13.00
architecturalstyletypeid,206.00,7.39,2.73,2.00,7.00,7.00,7.00,21.00
basementsqft,50.00,679.72,689.70,38.00,273.00,515.00,796.50,"3,560.00"
bathroomcnt,"77,574.00",2.30,1.00,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"77,574.00",3.05,1.14,0.00,2.00,3.00,4.00,16.00
buildingclasstypeid,15.00,3.93,0.26,3.00,4.00,4.00,4.00,4.00
buildingqualitytypeid,"49,808.00",6.53,1.72,1.00,6.00,6.00,8.00,12.00
calculatedbathnbr,"76,959.00",2.32,0.98,1.00,2.00,2.00,3.00,18.00
decktypeid,614.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"6,035.00","1,366.20",670.80,44.00,955.00,"1,257.00","1,615.00","6,912.00"
calculatedfinishedsquarefeet,"77,374.00","1,784.95",954.27,128.00,"1,182.00","1,542.00","2,112.00","35,640.00"
finishedsquarefeet12,"73,919.00","1,760.30",934.37,128.00,"1,172.00","1,523.00","2,075.00","21,929.00"
finishedsquarefeet13,42.00,"1,388.76",122.22,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet15,"3,027.00","2,354.49","1,186.99",598.00,"1,624.00","2,088.00","2,831.00","35,640.00"
finishedsquarefeet50,"6,035.00","1,381.43",725.90,44.00,956.00,"1,259.00","1,621.00","12,467.00"
finishedsquarefeet6,386.00,"2,082.50","1,240.38",380.00,993.75,"1,812.50","3,053.50","5,598.00"
fips,"77,574.00","6,048.81",20.75,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"8,287.00",1.19,0.49,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"76,959.00",2.25,0.97,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"25,517.00",1.82,0.59,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"25,517.00",350.06,261.65,0.00,0.00,436.00,492.00,"4,251.00"
hashottuborspa,"1,539.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
heatingorsystemtypeid,"49,569.00",3.92,3.59,1.00,2.00,2.00,7.00,24.00
latitude,"77,574.00","34,008,366.09","265,289.46","33,339,527.00","33,814,626.00","34,022,000.00","34,174,309.75","34,818,767.00"
longitude,"77,574.00","-118,203,717.47","359,383.28","-119,475,416.00","-118,415,000.00","-118,181,000.00","-117,928,653.00","-117,554,636.00"
lotsizesquarefeet,"69,317.00","29,974.80","123,308.48",236.00,"5,700.00","7,206.00","11,837.00","6,971,010.00"
poolcnt,"16,173.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,869.00,517.93,156.57,24.00,424.00,500.00,600.00,"1,500.00"
pooltypeid10,465.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,074.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"15,078.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
propertylandusetypeid,"77,574.00",261.82,5.14,31.00,261.00,261.00,266.00,275.00
rawcensustractandblock,"77,574.00","60,491,230.27","205,877.69","60,371,011.10","60,373,109.00","60,376,031.02","60,590,423.25","61,110,091.00"
regionidcity,"76,102.00","33,682.28","47,212.17","3,491.00","12,447.00","25,218.00","45,457.00","396,556.00"
regionidcounty,"77,574.00","2,534.53",801.45,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"30,973.00","187,730.30","165,045.23","6,952.00","46,736.00","118,849.00","274,765.00","764,167.00"
regionidzip,"77,524.00","96,586.68","3,793.67","95,982.00","96,193.00","96,389.00","96,987.00","399,675.00"
roomcnt,"77,574.00",1.48,2.82,0.00,0.00,0.00,0.00,15.00
storytypeid,50.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
threequarterbathnbr,"10,105.00",1.01,0.12,1.00,1.00,1.00,1.00,7.00
typeconstructiontypeid,222.00,6.04,0.56,4.00,6.00,6.00,6.00,13.00
unitcnt,"50,702.00",1.11,1.17,1.00,1.00,1.00,1.00,237.00
yardbuildingsqft17,"2,393.00",305.46,238.74,11.00,170.00,250.00,364.00,"3,191.00"
yardbuildingsqft26,70.00,216.39,190.18,12.00,61.50,164.50,310.50,868.00
yearbuilt,"77,305.00","1,968.61",23.79,"1,824.00","1,953.00","1,970.00","1,987.00","2,016.00"
numberofstories,"17,596.00",1.43,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,172.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"77,459.00","189,282.90","230,414.87",44.00,"84,182.00","136,407.00","218,734.00","11,421,790.00"
taxvaluedollarcnt,"77,573.00","490,147.68","653,805.87","1,000.00","206,898.00","358,879.00","569,000.00","49,061,236.00"
assessmentyear,"77,574.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"77,572.00","301,146.83","492,731.72",161.00,"85,292.00","203,181.00","366,761.00","48,952,198.00"
taxamount,"77,569.00","5,995.86","7,628.91",19.92,"2,712.61","4,448.30","6,926.82","586,639.30"
taxdelinquencyyear,"2,900.00",14.09,2.18,3.00,14.00,15.00,15.00,99.00
censustractandblock,"77,327.00","60,496,660,015,442.77","1,533,385,530,358.59","60,371,011,101,000.00","60,373,109,004,005.00","60,376,032,001,021.00","60,590,423,251,007.00","483,030,105,084,015.00"
logerror,"77,574.00",0.02,0.17,-4.66,-0.02,0.01,0.04,5.26

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [68]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

In [69]:
nulls_by_col(df)

                          num_rows_missing  percent_rows_missing
parcelid                                 0                  0.00
airconditioningtypeid                52568                  0.68
architecturalstyletypeid             77368                  1.00
basementsqft                         77524                  1.00
bathroomcnt                              0                  0.00
...                                    ...                   ...
buildingclassdesc                    77559                  1.00
heatingorsystemdesc                  28005                  0.36
propertylandusedesc                      0                  0.00
storydesc                            77524                  1.00
typeconstructiondesc                 77352                  1.00

[67 rows x 2 columns]

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [70]:
def nulls_by_row(df):
    df2 = pd.DataFrame(df.isnull().sum(axis = 1), columns = ['num_cols_missing']).reset_index()\
    .groupby('num_cols_missing').count().reset_index().\
    rename(columns = {'id': 'num_rows'})
    df2['pct_cols_missing'] = df2.num_cols_missing/df.shape[1]
    return df2

In [71]:
nulls_by_row(df).sort_values(by = ['pct_cols_missing'], ascending = False)

    num_cols_missing  num_rows     pct_cols_missing
25                48         3                 0.72
24                47         3                 0.70
23                46         5                 0.69
22                45        50                 0.67
21                44        79                 0.66
20                43        29                 0.64
19                42        26                 0.63
18                41        29                 0.61
17                40       230                 0.60
16                39       285                 0.58
15                38      1932                 0.57
14                37      3630                 0.55
13                36      5793                 0.54
12                35      5163                 0.52
11                34     13356                 0.51
10                33     14817                 0.49
9                 32     12606                 0.48
8                 31      9911                 0.46
7                 30      3465                 0.45
6                 29      5285                 0.43
5                 28       457                 0.42
4                 27       316                 0.40
3                 26        65                 0.39
2                 25        24                 0.37
1                 24        13                 0.36
0                 23         2                 0.34

#### Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [92]:
df.shape

(77574, 67)

In [169]:
# look at value counts for 'unitcnt'

df.unitcnt.value_counts(dropna = False)

                1.00    47412
NaN                     26872
                2.00     2031
                4.00      726
                3.00      529
               45.00        1
               42.00        1
                6.00        1
              237.00        1
Name: unitcnt, dtype: int64

In [170]:
# Restrict df to only properties that meet single unit criteria

single_use = [261, 262, 263, 264, 266, 268, 273, 276, 279]
df = df[df.propertylandusetypeid.isin(single_use)]
    
    
# Restrict df to only those properties with at least 1 bath & bed and >350 sqft area
df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0) & ((df.unitcnt<=1)|df.unitcnt.isnull()) & (df.calculatedfinishedsquarefeet>350)]
df.shape

(71355, 68)

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [171]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .70):
    threshold = int(round(prop_required_column * len(df.index),0))
    df.dropna(axis = 1, thresh = threshold, inplace = True)
    threshold = int(round(prop_required_row * len(df.columns),0))
    df.dropna(axis = 0, thresh = threshold, inplace = True)
    return df

In [172]:
df = handle_missing_values(df)
df.shape

(71355, 34)

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71355 entries, 0 to 77573
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            71355 non-null  int64
 1   parcelid                      71355 non-null  int64
 2   bathroomcnt                   71355 non-null  float64
 3   bedroomcnt                    71355 non-null  float64
 4   buildingqualitytypeid         44841 non-null  float64
 5   calculatedbathnbr             71340 non-null  float64
 6   calculatedfinishedsquarefeet  71355 non-null  float64
 7   finishedsquarefeet12          71188 non-null  float64
 8   fips                          71355 non-null  float64
 9   fullbathcnt                   71340 non-null  float64
 10  heatingorsystemtypeid         46412 non-null  float64
 11  latitude                      71355 non-null  float64
 12  longitude                     71355 non-null  float64
 13  lotsizesquarefeet             63321 non-null  float64
 14  propertycountylandusecode     71355 non-null  object
 15  propertylandusetypeid         71355 non-null  float64
 16  propertyzoningdesc            45134 non-null  object
 17  rawcensustractandblock        71355 non-null  float64
 18  regionidcity                  70033 non-null  float64
 19  regionidcounty                71355 non-null  float64
 20  regionidzip                   71315 non-null  float64
 21  roomcnt                       71355 non-null  float64
 22  unitcnt                       45160 non-null  float64
 23  yearbuilt                     71320 non-null  float64
 24  structuretaxvaluedollarcnt    71280 non-null  float64
 25  taxvaluedollarcnt             71354 non-null  float64
 26  assessmentyear                71355 non-null  float64
 27  landtaxvaluedollarcnt         71354 non-null  float64
 28  taxamount                     71350 non-null  float64
 29  censustractandblock           71147 non-null  float64
 30  logerror                      71355 non-null  float64
 31  transactiondate               71355 non-null  object
 32  heatingorsystemdesc           46412 non-null  object
 33  propertylandusedesc           71355 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 19.1+ MB

In [174]:
df.isnull().sum()

id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           26514
calculatedbathnbr                  15
calculatedfinishedsquarefeet        0
finishedsquarefeet12              167
fips                                0
fullbathcnt                        15
heatingorsystemtypeid           24943
latitude                            0
longitude                           0
lotsizesquarefeet                8034
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              26221
rawcensustractandblock              0
regionidcity                     1322
regionidcounty                      0
regionidzip                        40
roomcnt                             0
unitcnt                         26195
yearbuilt                          35
structuretaxvaluedollarcnt         75
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           5
censustractandblock               208
logerror                            0
transactiondate                     0
heatingorsystemdesc             24943
propertylandusedesc                 0
dtype: int64

In [178]:
cols_to_remove = ['id', 'calculatedbathnbr', 'finishedsquarefeet12', 'fullbathcnt', 
                  'heatingorsystemtypeid', 'propertycountylandusecode', 
                  'propertylandusetypeid','propertyzoningdesc', 'heatingorsystemdesc',
                  'censustractandblock', 'propertylandusedesc', 'unitcnt', 
                  'buildingqualitytypeid']

In [179]:
def remove_columns(df, cols_to_remove):  
    df = df.drop(columns = cols_to_remove)
    return df

In [180]:
df = remove_columns(df, cols_to_remove)
df.isnull().sum()

parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
calculatedfinishedsquarefeet       0
fips                               0
latitude                           0
longitude                          0
lotsizesquarefeet               8034
rawcensustractandblock             0
regionidcity                    1322
regionidcounty                     0
regionidzip                       40
roomcnt                            0
yearbuilt                         35
structuretaxvaluedollarcnt        75
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              1
taxamount                          5
logerror                           0
transactiondate                    0
dtype: int64

In [181]:
# fill missing values with median null sizes
df.lotsizesquarefeet.fillna(7313, inplace = True)

df.shape

(71355, 21)

In [182]:
# Remove properties valued more than 5 million dollars
df = df[df.taxvaluedollarcnt < 5_000_000]

# Remove properties valued more than 8000 square feet
df = df[df.calculatedfinishedsquarefeet < 8000]

# Add column for counties
df['county'] = np.where(df.fips == 6037, 'Los_Angeles', np.where(df.fips == 6059, 'Orange', 
                                   'Ventura')) 

# I am going to drop the rest of nulls 
df = df.dropna()

df.shape

(69680, 22)

#### Mall Customers

In [183]:
def get_mall_customers():
    sql = 'select * from customers'
    url = get_db_url('mall_customers')
    mall_df = pd.read_sql(sql, url, index_col='customer_id')
    return mall_df

In [185]:
mall_df = get_mall_customers()

In [186]:
mall_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          200 non-null    object
 1   age             200 non-null    int64
 2   annual_income   200 non-null    int64
 3   spending_score  200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB

In [187]:
mall_df.shape

(200, 4)

In [188]:
mall_df.describe()

                       age        annual_income       spending_score
count               200.00               200.00               200.00
mean                 38.85                60.56                50.20
std                  13.97                26.26                25.82
min                  18.00                15.00                 1.00
25%                  28.75                41.50                34.75
50%                  36.00                61.50                50.00
75%                  49.00                78.00                73.00
max                  70.00               137.00                99.00

In [189]:
mall_df.isnull().sum()

gender            0
age               0
annual_income     0
spending_score    0
dtype: int64

In [190]:
def outlier_function(df, cols, k):
    for col in df[cols]:
        q1 = mall_df.annual_income.quantile(0.25)
        q3 = mall_df.annual_income.quantile(0.75)
        iqr = q3 - q1
        upper_bound =  q3 + k * iqr
        lower_bound =  q1 - k * iqr     
        df = df[(df[col] < upper_bound) & (df[col] > lower_bound)]
    return df

In [191]:
mall_df = outlier_function(mall_df, ['age', 'spending_score', 'annual_income'], 1.5)
mall_df.shape

(198, 4)

In [192]:
# encode the gender column

dummy_df = pd.get_dummies(mall_df.gender, drop_first=True)
dummy_df.head()

             Male
customer_id
1               1
2               1
3               0
4               0
5               0

In [193]:
# concat the dummies df with original df. Drop the 'gender' column

mall_df = pd.concat([mall_df, dummy_df], axis=1).drop(columns = ['gender'])
mall_df.head()

             age  annual_income  spending_score  Male
customer_id
1             19             15              39     1
2             21             15              81     1
3             20             16               6     0
4             23             16              77     0
5             31             17              40     0

In [196]:
train, test = train_test_split(mall_df, train_size = 0.8, random_state = 123)
train, validate = train_test_split(train, train_size = 0.75, random_state = 123)

In [197]:
def min_max_scaler(train, valid, test):
    '''
    Uses the train & test datasets created by the split_my_data function
    Returns 3 items: mm_scaler, train_scaled_mm, test_scaled_mm
    This is a linear transformation. Values will lie between 0 and 1
    '''
    num_vars = list(train.select_dtypes('number').columns)
    scaler = MinMaxScaler(copy=True, feature_range=(0,1))
    train[num_vars] = scaler.fit_transform(train[num_vars])
    valid[num_vars] = scaler.transform(valid[num_vars])
    test[num_vars] = scaler.transform(test[num_vars])
    return scaler, train, valid, test

In [198]:
scaler, train_scaled, validate_scaled, test_scaled = min_max_scaler(train, validate, test)

In [199]:
train.shape

(118, 4)