### Clustering Wrangle Exercises

#### Acquire

Zillow

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline
pd.options.display.float_format = '{:20,.2f}'.format

import env

In [35]:
def get_db_url(database):
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    return url

def get_zillow():
    sql = '''
SELECT properties_2017.*, predictions_2017.logerror, 
predictions_2017.transactiondate, 
airconditioningtype.airconditioningdesc, architecturalstyletype.architecturalstyledesc,
buildingclasstype.buildingclassdesc, heatingorsystemtype.heatingorsystemdesc,
propertylandusetype.propertylandusedesc, storytype.storydesc, 
typeconstructiontype.typeconstructiondesc
FROM properties_2017
LEFT JOIN airconditioningtype USING(airconditioningtypeid)
LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
LEFT JOIN buildingclasstype USING(buildingclasstypeid)
LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
LEFT JOIN propertylandusetype USING(propertylandusetypeid)
LEFT JOIN storytype USING(storytypeid)
LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
LEFT JOIN predictions_2017 USING(parcelid)
WHERE predictions_2017.transactiondate LIKE '2017%%';
    '''
    url = get_db_url('zillow')
    zillow_df = pd.read_sql(sql, url, index_col = 'id')
    return zillow_df

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

 - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
 - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
 - Only include properties that include a latitude and longitude value.

In [36]:
df = get_zillow()

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77613 entries, 1727539 to 1187175
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77613 non-null  int64
 1   airconditioningtypeid         25007 non-null  float64
 2   architecturalstyletypeid      207 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77579 non-null  float64
 5   bedroomcnt                    77579 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49809 non-null  float64
 8   calculatedbathnbr             76963 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6037 non-null   float64
 11  calculatedfinishedsquarefeet  77378 non-null  float64
 12  finishedsquarefeet12          73923 non-null  float64
 13  finishedsquarefeet13          42 non-null     float64
 14  finishedsquarefeet15          3027 non-null   float64
 15  finishedsquarefeet50          6037 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77579 non-null  float64
 18  fireplacecnt                  8289 non-null   float64
 19  fullbathcnt                   76963 non-null  float64
 20  garagecarcnt                  25520 non-null  float64
 21  garagetotalsqft               25520 non-null  float64
 22  hashottuborspa                1539 non-null   float64
 23  heatingorsystemtypeid         49571 non-null  float64
 24  latitude                      77579 non-null  float64
 25  longitude                     77579 non-null  float64
 26  lotsizesquarefeet             69321 non-null  float64
 27  poolcnt                       16174 non-null  float64
 28  poolsizesum                   869 non-null    float64
 29  pooltypeid10                  465 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15079 non-null  float64
 32  propertycountylandusecode     77579 non-null  object
 33  propertylandusetypeid         77579 non-null  float64
 34  propertyzoningdesc            50476 non-null  object
 35  rawcensustractandblock        77579 non-null  float64
 36  regionidcity                  76107 non-null  float64
 37  regionidcounty                77579 non-null  float64
 38  regionidneighborhood          30974 non-null  float64
 39  regionidzip                   77529 non-null  float64
 40  roomcnt                       77579 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           10106 non-null  float64
 43  typeconstructiontypeid        223 non-null    float64
 44  unitcnt                       50703 non-null  float64
 45  yardbuildingsqft17            2393 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77309 non-null  float64
 48  numberofstories               17599 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77464 non-null  float64
 51  taxvaluedollarcnt             77578 non-null  float64
 52  assessmentyear                77579 non-null  float64
 53  landtaxvaluedollarcnt         77577 non-null  float64
 54  taxamount                     77574 non-null  float64
 55  taxdelinquencyflag            2900 non-null   object
 56  taxdelinquencyyear            2900 non-null   float64
 57  censustractandblock           77332 non-null  float64
 58  logerror                      77613 non-null  float64
 59  transactiondate               77613 non-null  object
 60  airconditioningdesc           25007 non-null  object
 61  architecturalstyledesc        207 non-null    object
 62  buildingclassdesc             15 non-null     object
 63  heatingorsystemdesc           49571 non-null  object
 64  propertylandusedesc           77579 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 40.3+ MB

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,"77,381.00","13,007,150.51","3,481,345.65","10,711,855.00","11,538,305.00","12,531,568.00","14,211,831.00","167,689,317.00"
airconditioningtypeid,"24,953.00",1.81,2.97,1.00,1.00,1.00,1.00,13.00
architecturalstyletypeid,206.00,7.39,2.73,2.00,7.00,7.00,7.00,21.00
basementsqft,50.00,679.72,689.70,38.00,273.00,515.00,796.50,"3,560.00"
bathroomcnt,"77,381.00",2.30,1.00,0.00,2.00,2.00,3.00,18.00
bedroomcnt,"77,381.00",3.05,1.14,0.00,2.00,3.00,4.00,16.00
buildingclasstypeid,15.00,3.93,0.26,3.00,4.00,4.00,4.00,4.00
buildingqualitytypeid,"49,672.00",6.53,1.72,1.00,6.00,6.00,8.00,12.00
calculatedbathnbr,"76,772.00",2.32,0.98,1.00,2.00,2.00,3.00,18.00
decktypeid,614.00,66.00,0.00,66.00,66.00,66.00,66.00,66.00
finishedfloor1squarefeet,"6,023.00","1,366.51",671.31,44.00,955.00,"1,257.00","1,615.00","6,912.00"
calculatedfinishedsquarefeet,"77,185.00","1,785.22",954.05,128.00,"1,182.00","1,543.00","2,113.00","35,640.00"
finishedsquarefeet12,"73,749.00","1,760.52",934.02,128.00,"1,172.00","1,523.00","2,076.00","21,929.00"
finishedsquarefeet13,41.00,"1,389.85",123.53,"1,056.00","1,344.00","1,440.00","1,440.00","1,560.00"
finishedsquarefeet15,"3,009.00","2,357.79","1,188.78",598.00,"1,625.00","2,094.00","2,838.00","35,640.00"
finishedsquarefeet50,"6,023.00","1,381.77",726.47,44.00,956.00,"1,259.00","1,621.50","12,467.00"
finishedsquarefeet6,386.00,"2,082.50","1,240.38",380.00,993.75,"1,812.50","3,053.50","5,598.00"
fips,"77,381.00","6,048.82",20.75,"6,037.00","6,037.00","6,037.00","6,059.00","6,111.00"
fireplacecnt,"8,276.00",1.19,0.49,1.00,1.00,1.00,1.00,5.00
fullbathcnt,"76,772.00",2.25,0.97,1.00,2.00,2.00,3.00,18.00
garagecarcnt,"25,474.00",1.82,0.59,0.00,2.00,2.00,2.00,14.00
garagetotalsqft,"25,474.00",350.11,261.68,0.00,0.00,436.00,493.00,"4,251.00"
hashottuborspa,"1,538.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
heatingorsystemtypeid,"49,440.00",3.92,3.59,1.00,2.00,2.00,7.00,24.00
latitude,"77,381.00","34,008,372.37","265,388.81","33,339,527.00","33,814,569.00","34,022,000.00","34,174,388.00","34,818,767.00"
longitude,"77,381.00","-118,203,634.43","359,482.63","-119,475,416.00","-118,415,276.00","-118,180,807.00","-117,928,378.00","-117,554,636.00"
lotsizesquarefeet,"69,142.00","29,969.28","123,371.08",236.00,"5,700.00","7,206.00","11,831.00","6,971,010.00"
poolcnt,"16,137.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
poolsizesum,867.00,517.92,156.72,24.00,424.00,500.00,600.00,"1,500.00"
pooltypeid10,464.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid2,"1,074.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
pooltypeid7,"15,042.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
propertylandusetypeid,"77,381.00",261.83,5.14,31.00,261.00,261.00,266.00,275.00
rawcensustractandblock,"77,381.00","60,491,294.96","205,905.23","60,371,011.10","60,373,109.00","60,376,032.00","60,590,423.25","61,110,091.00"
regionidcity,"75,910.00","33,671.24","47,169.82","3,491.00","12,447.00","25,218.00","45,457.00","396,556.00"
regionidcounty,"77,381.00","2,534.16",801.59,"1,286.00","1,286.00","3,101.00","3,101.00","3,101.00"
regionidneighborhood,"30,890.00","187,734.86","165,118.79","6,952.00","46,736.00","118,849.00","274,765.00","764,167.00"
regionidzip,"77,331.00","96,587.09","3,798.35","95,982.00","96,193.00","96,389.00","96,987.00","399,675.00"
roomcnt,"77,381.00",1.48,2.82,0.00,0.00,0.00,0.00,15.00
storytypeid,50.00,7.00,0.00,7.00,7.00,7.00,7.00,7.00
threequarterbathnbr,"10,096.00",1.01,0.12,1.00,1.00,1.00,1.00,7.00
typeconstructiontypeid,222.00,6.04,0.56,4.00,6.00,6.00,6.00,13.00
unitcnt,"50,563.00",1.11,1.17,1.00,1.00,1.00,1.00,237.00
yardbuildingsqft17,"2,388.00",305.41,238.39,11.00,170.00,251.00,364.00,"3,191.00"
yardbuildingsqft26,70.00,216.39,190.18,12.00,61.50,164.50,310.50,868.00
yearbuilt,"77,118.00","1,968.64",23.79,"1,824.00","1,953.00","1,970.00","1,987.00","2,016.00"
numberofstories,"17,560.00",1.43,0.54,1.00,1.00,1.00,2.00,6.00
fireplaceflag,172.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00
structuretaxvaluedollarcnt,"77,269.00","189,314.53","230,087.42",44.00,"84,265.00","136,499.00","218,787.00","11,421,790.00"
taxvaluedollarcnt,"77,380.00","490,134.48","653,443.97","1,000.00","207,000.00","358,975.50","569,001.50","49,061,236.00"
assessmentyear,"77,381.00","2,016.00",0.00,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"77,379.00","301,095.41","492,596.03",161.00,"85,504.00","203,372.00","366,796.50","48,952,198.00"
taxamount,"77,376.00","5,995.53","7,622.84",19.92,"2,715.63","4,450.69","6,927.79","586,639.30"
taxdelinquencyyear,"2,886.00",14.09,2.19,3.00,14.00,15.00,15.00,99.00
censustractandblock,"77,137.00","60,496,733,646,264.13","1,535,241,981,138.57","60,371,011,101,000.00","60,373,109,005,002.00","60,376,032,003,008.00","60,590,423,251,008.00","483,030,105,084,015.00"
logerror,"77,381.00",0.02,0.17,-4.66,-0.02,0.01,0.04,5.26

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [19]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

In [26]:
nulls_by_col(df)

                          num_rows_missing  percent_rows_missing
parcelid                                 0                  0.00
airconditioningtypeid                52428                 67.75
architecturalstyletypeid             77175                 99.73
basementsqft                         77331                 99.94
bathroomcnt                              0                  0.00
...                                    ...                   ...
buildingclassdesc                    77366                 99.98
heatingorsystemdesc                  27941                 36.11
propertylandusedesc                      0                  0.00
storydesc                            77331                 99.94
typeconstructiondesc                 77159                 99.71

[67 rows x 2 columns]

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [22]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'customer_id': 'num_rows'}).reset_index()
    return rows_missing.T

In [27]:
nulls_by_row(df)

   num_cols_missing percent_cols_missing     id
0                23    34.32835820895522      2
1                24    35.82089552238806     13
2                25     37.3134328358209     24
3                26    38.80597014925373     65
4                27   40.298507462686565    316
5                28     41.7910447761194    455
6                29    43.28358208955223   5270
7                30   44.776119402985074   3455
8                31    46.26865671641791   9891
9                32    47.76119402985074  12579
10               33    49.25373134328358  14782
11               34    50.74626865671642  13327
12               35    52.23880597014925   5148
13               36    53.73134328358209   5775
14               37   55.223880597014926   3620
15               38    56.71641791044776   1925
16               39     58.2089552238806    285
17               40    59.70149253731343    230
18               41    61.19402985074627     29
19               42    62.68656716417911     23
20               43    64.17910447761194     28
21               44    65.67164179104478     78
22               45    67.16417910447761     50
23               46    68.65671641791045      5
24               47     70.1492537313433      3
25               48    71.64179104477611      3

#### Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).